@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --color-gala-dark-red: #5e0010;
    --color-gala-gold-dark: #d6a949;
    --color-gala-gold-medium-dark: #e0b55c;
    --color-gala-gold-medium: #eac26f;
    --color-gala-gold-medium-light: #f4d082;
    --color-gala-gold-light: #faea9e;
    --font-playfair-display: Playfair Display;
}
